---
layout: default
title: Obvious Ridge Route
---

<section class="relative page-header">
    <div class="flex justify-center md:justify-start w-full">
        <div class="content mt-24 px-6 md:px-36 xmd:text-center md:text-left text-white">
            <h1>Obvious Ridge Route</h1>
            <div class="text-lg mt-4 font-medium">
                <p class="mb-4">Obvious Ridge Route is a global collective of collaborative <br /> talent
                    that gets
                    shit done.
                </p>
                <p>
                    Our team is composed of experienced product managers, <br /> passionately creative UI/UX designers,
                    and
                    talented software <br /> developers.
                </p>
                <p class="mt-4">
                    When software can't automate it, our business <br /> process outsource team gets the job done.
                </p>
            </div>

            <div class="btn-wrapper mt-6">
                <button
                    class="border-0 outline-none cursor-pointer text-center font-semibold text-xl py-[0.6rem] px-[4.3rem] bg-white text-black"
                    id="learn-more">Explore</button>
            </div>
        </div>
    </div>
</section>
<section class="services pt-20" id="services">
    <h3 class="text-center font-medium uppercase tracking-wider text-2xl mb-8">Services</h3>
    <div
        class="grid px-6 xl:px-0 xl:grid-cols-2 gap-8 place-content-center place-items-center max-w-2.5xl mx-auto mb-14">
        {% for item in site.data.services %}
        <div class="bg-black text-white p-8 min-h-54 ">
            <div class="flex gap-4 items-center relative heading-wrapper">
                <h3 class="font-semibold uppercase ml-10">{{item.title}}</h3>
            </div>
            <p class="mt-4">
                {{item.description }}
            </p>
        </div>
        {% endfor %}
    </div>
</section>
<section class="main-content pt-5 px-6 xl:px-0" id="works">
    <h3 class="text-center font-medium uppercase tracking-wider text-2xl mb-8">Work</h3>
    <div class="grid gap-8 place-content-center place-items-center max-w-3xl mx-auto mb-14 ">
        {% for item in site.data.pageinfo %}
        <div
            class="flex flex-col xl:flex-row justify-center gap-8 xl:gap-16 xl:w-full bg-gray p-6 xl:p-16 rounded-3xl items-center">
            <div class="max-w-full h-auto">
                <img class="w-full h-full object-contain" src="{{ item.img }}" />
            </div>
            <div class="max-w-sm">
                <h5 class="tracking-wider text-xl leading-7 font-semibold">{{ item.title }}</h5>
                <span class="tracking-wider text-base leading-6 text-grey-jo font-medium">{{ item.about }}</span>
                <p class="mt-4">{{ item.description }}</p>

                <a class="flex mt-6 items-center gap-2 xl:justify-end text-black"
                    href="{{ site.baseurl }}{{ item.link }}">View project
                    <img src="assets/images/icons/arrow.svg" />
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="contact-us pb-12 px-6 bg-black text-white" id="contact">
    <div class="text-center pt-6">
        <h1 class="font-medium text-xl md:text-3xl">Contact Us</h1>
        <p class="mt-2 text-gray">Have an inquiry or some feedback for us? Fill out the form <br /> below to contact our
            team.</p>
    </div>
    <div class="max-w-xl mx-auto flex mt-8 contact-container text-black flex-col lg:flex-row relative">
        <div class="form-wrapper w-full bg-white text-black flex justify-around flex-col p-8 overflow-hidden">
            <form id="submit-data">
                <h3 class="font-medium text-lg leading-7 mb-6">Send us a Message</h3>
                <label class="mb-1 inline-block">Full name</label>
                <div class="form-input w-full mb-6">
                    <input id="fullname" class="w-full outline-0 border-b border-grey-yoda" type="text" name="name"
                        placeholder="Enter your full name">
                    <span class="mt-2 text-danger text-sm leading-5 warning-message"></span>
                </div>
                <label class="mb-1 inline-block">Email</label>
                <div class="form-input w-full mb-6">
                    <input id="email" class="w-full outline-0 border-b border-grey-yoda" type="email" name="email"
                        placeholder="Enter your e-mail">
                    <span class="mt-2 text-danger text-sm leading-5 warning-message"></span>
                </div>
                <label class="mb-1 inline-block">Your message</label>
                <div class="form-input w-full mb-6">
                    <textarea id="message" class="w-full outline-0 border-b border-grey-yoda" maxlength="300"
                        placeholder="Enter your message"></textarea>
                    <span class="mt-2 text-danger text-sm leading-5 warning-message"></span>
                </div>
                <div class="send">
                    <input
                        class="w-full uppercase bg-black font-semibold text-white py-4 text-xl cursor-pointer leading-[1.125rem]"
                        type="submit" value="Send">
                </div>
            </form>
            <div id="success-modal" class="opacity-0 absolute w-full lg:w-[37.5rem] h-full top-0 left-0 z-[-1]">
                <div class="relative w-full h-full flex items-center justify-center pt-10 bg-white">
                    <div class="flex flex-col justify-between items-center gap-3">
                        <div class="icon">
                            <img src="{{ site.baseurl }}/assets/images/success.svg" alt="">
                        </div>
                        <h1 class="font-medium text-2xl leading-7">Thank you!</h1>
                        <p style="color:#6f6f6f;" class="text-lg leading-9">Your message has been
                            sent.
                        </p>
                    </div>
                    <span class="close-btn absolute top-3 right-5 cursor-pointer text-2xl">&#x2715;</span>
                </div>
            </div>
        </div>
       

        <div class="contact bg-gray flex justify-around items-center px-5 py-8 flex-col">
            <div class="flex flex-col gap-2 xsm:gap-9 mb-5 lg:mb-0">
                <h3 class="text-lg leading-7 font-medium">Contact Information</h3>
                <div class="flex flex-col gap-6">
                    <div class="flex items-center gap-3">
                        <img src="assets/images/icons/email.svg" />
                        <span class="text-sm">mike@obviousreidgeroute.com</span>
                    </div>
                    <div class="flex items-center gap-3">
                        <img src="assets/images/icons/location.svg" />
                        <span class="text-sm">United States, Illinois, Chicago</span>
                    </div>
                </div>
            </div>
            <div class="hidden sm:block">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11895.177849209758!2d-87.64595454713786!3d41.88164315021113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cda3388b6dd%3A0x942c920a8b709156!2sWest%20Loop%2C%20Chicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2s!4v1650624633911!5m2!1sen!2s"
                    width="320" height="164" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>