<footer class="flex text-black border-t border-gray">
    <div class="logo flex items-center flex-col gap-3">
        <img src="{{ site.baseurl }}/assets/images/icons/logo-black.svg" />
        <h1 class="font-bold text-4xl">ORR</h1>
    </div>
    <div class="flex gap-16 items-center btn-group">
        <h3 class="text-base leading-4 cursor-pointer font-medium btn--services">Services</h3>
        <h3 class="text-base leading-4 cursor-pointer font-medium btn--works">Works</h3>
        <h3 class="text-base leading-4 cursor-pointer font-medium btn--contact">Contact us</h3>
    </div>
    <p class="mt-6">Obvious Ridge Route Ⓒ2013</p>
</footer>