<nav
    class="flex dark:bg-black dark:text-white text-black bg-white-smoke flex-col gap-6 md:gap-0 md:flex-row items-center w-full justify-between py-6 px-6 md:px-36">
    <a class="flex gap-3 items-center" href="{{ site.url }}">
        <img data-src="{{ site.baseurl }}/assets/images/icons/logo-black.svg"
            data-dark_src="{{ site.baseurl }}/assets/images/icons/logo-white.svg" />
        <h1 class="font-bold text-4xl">ORR</h1>
    </a>
    <div class="flex gap-8 xsm:gap-12 items-center btn-group">
        <a data-href="index.html#services" class="text-base leading-4 cursor-pointer font-medium">Services</a>
        <a data-href="index.html#works" class="text-base leading-4 cursor-pointer font-medium">Work</a>
        <a data-href="index.html#contact" class="text-base leading-4 cursor-pointer font-medium">Contact us</a>
    </div>
</nav>