<nav class="flex items-center w-full justify-between py-6 px-36">
    <div class="flex gap-3 items-center">
        <img src="{{ site.baseurl }}/assets/images/icons/logo-white.svg" />
        <h1 class="text-white font-bold text-4xl">ORR</h1>
    </div>
    <div class="flex gap-16 items-center">
        <h3 class="text-white text-base leading-4 cursor-pointer">Services</h3>
        <h3 class="text-white text-base leading-4 cursor-pointer">Works</h3>
        <h3 class="text-white text-base leading-4 cursor-pointer">Contact us</h3>
    </div>
</nav>