@media screen and (max-width: 750px) {
    .page-header {
        .content {
            h1 {
                font-size: 24px;
                line-height: 36px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .contact-us {
        background: linear-gradient(180deg, #1f1f1f 60%, #ffffff 40%);
    }
}

@media screen and (max-width: 1500px) {
    .page-header {
        background-position: center bottom;
    }
}

@media screen and (min-width: 1300px) {
    div.swiper-slide-active {
        min-width: 570px;
        width: 570px !important;
        background-color: #fbfbfb !important;
        div:first-of-type {
            flex-direction: row !important;

            div:last-child {
                display: flex !important;
            }
        }
        div:last-child {
            visibility: visible;
        }
    }
    div.swiper-slide-prev,
    div.swiper-slide-next {
        min-width: 200px !important;
        min-height: 250px !important;
        width: 200px !important;
        background-color: #f6f6f6 !important;
    }

    .swiper-slide-prev {
        margin-left: -150px;
    }
    .swiper-slide-next {
        margin-left: 0px;
    }
    .swiper-slide {
        height: 186px !important;
        overflow: hidden;
        background-color: #eeeeee !important;

        div:first-of-type {
            flex-direction: column;

            div:last-child {
                display: none;
            }
        }
        div:last-child {
            visibility: hidden;
        }
    }
    div.slide-dark {
        background-color: rgb(31, 31, 31) !important;
    }
    .swiper-wrapper {
        min-height: 400px;
    }
}

@media screen and (max-width: 1300px) {
    .swiper-slide {
        min-height: 320px;
        justify-content: center;
    }
}

@media screen and (max-width: 530px) {
    .swiper-slide {
        min-height: 420px;
        max-height: 420px;
    }
}
