.button-next,
.button-prev {
    display: none !important;
    position: relative !important;
    width: 20px !important;
    height: 20px !important;
    border-top: 4px solid #cccccc;
    border-left: 4px solid #cccccc;
    @media screen and (min-width: 800px) {
        display: inline-block !important;
    }
}

.button-prev {
    transform: rotate(-45deg);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.button-next {
    transform: rotate(135deg);
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.swiper-pagination-bullet-active {
    background-color: #000 !important;
    transform: scale(1.5);
    transition: 0.4s ease;
}
.swiper-slide-active {
    z-index: 999;
    @media screen and (min-width: 1300px) {
        min-height: 350px !important;
    }
}

.swiper-pagination {
    bottom: 15px !important;
}

.slide-title {
    &::before {
        position: absolute;
        top: 2px;
        left: 3px;
        content: "";
        background-image: url("../../assets/images/icons/star.svg");
        filter: brightness(0);
        width: 26px;
        height: 26px;
        background-size: contain;
    }
}

.dark .dark\:slide-title-dark {
    &::before {
        filter: brightness(1) !important;
    }
}
.dark .dark\:image-link-dark {
    img {
        filter: invert(1) !important;
    }
}

.swiper-wrapper,
.swiper,
.swiper-slide,
.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev {
    transition: 0.4s ease !important;
}

@media screen and (min-width: 1300px) {
    div.swiper-slide-active {
        min-width: 570px;
        width: 570px !important;
        background-color: #FBFBFB !important;
        div:first-of-type{
            flex-direction: row !important;

            div:last-child{
                display: flex !important;
            }
        }
        div:last-child{
            visibility: visible;
        }
    }
    div.swiper-slide-prev,
    div.swiper-slide-next {
        min-width: 200px !important;
        min-height: 250px !important;
        width: 200px !important;
        background-color:#F6F6F6 !important;
    }
    .swiper-slide-prev {
        margin-left: -150px;
    }
    .swiper-slide-next {
        margin-left:0px;
    }
    .swiper-slide {
        height: 186px !important;
        overflow: hidden;
        background-color: #eeeeee !important;

        div:first-of-type{
            flex-direction: column;

            div:last-child{
                display: none;
            }
        }
        div:last-child{
            visibility: hidden;
        }
    }
    div.slide-dark {
        background-color: rgb(31, 31, 31) !important;
    }
}
