<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include header.html %}
    {% assign id = page.url | remove: ".html" | remove: "/" %}
    {% for item in site.data.content %}
    {% if item.id == id %}

    <section class="page-section bg-white-smoke dark:bg-black dark:text-white px-6 md:px-36 pb-10">
        <div class="flex justify-between gap-2 flex-col-reverse items-center xl:flex-row">
            <div class="flex justify-center flex-col max-w-md items-center xl:items-start">
                <h1 class="text-4.5xl font-medium">{{item.herotitle}}</h1>
                <p class="mt-4 font-medium">{{item.description}}</p>
                <div class="mt-6">
                    <button
                        class="bg-black dark:bg-white flex gap-2 items-center text-white dark:text-black uppercase font-semibold py-4 px-6 justify-center">
                        <a href="{{ item.link }}">Visit the website</a>
                        <img class="dark:brightness-0" src="assets/images/icons/arrow-up-right.svg">
                    </button>
                </div>
            </div>
            <div class="max-w-msm">
                <img data-src="{{item.heroimg}}" src="{{item.heroimg}}" />
            </div>
        </div>
    </section>
    <section class="page-overview page-section px-6 md:px-36 pt-12">
        <div class="overview bg-white-smoke dark:bg-gray rounded-3xl px-8">
            <div class="flex justify-center w-full pt-8">
                <img src="{{item.icon}}">
            </div>
            <div class="flex items-center justify-between pb-10 flex-col-reverse desktop:flex-row">
                {% for detail in item.overview %}
                <div class="max-w-md">
                    <div>
                        <h3 class="uppercase text-2xl leading-9 tracking-wider font-medium">Overview</h3>
                        <p class="mt-4 text-base leading-6">{{detail.desc}}</p>
                    </div>
                    <div class="mt-6">
                        <h3 class="uppercase text-2xl leading-9 tracking-wider font-medium">Technological stack</h3>
                        <ul class="mt-4">
                            {% for tech in detail.techstack %}
                            <li class="mb-2 text-base leading-6 relative pl-6">{{tech.title}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="img max-w-[30rem]">
                    <img class="w-full h-full object-contain" src="{{detail.img}}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
        <p>{{ item.details }}</p>
    </section>
    {% unless id == 'frendao' %}
    <section class="designs page-section mt-10 ">
        <h3 class="text-2xl text-center tracking-wider uppercase font-medium">Design</h3>
        <div class="px-6 md:px-36 mt-6 bg-white-smoke dark:bg-black">
            <img class="object-cover" src="{{item.design}}" />
        </div>
    </section>
    {% endunless %}
    <section class="other-projects page-section mt-10 pb-52 relative px-4" id="projects">
        <h3 class="text-2xl text-center tracking-wider uppercase font-medium">See other projects</h3>
        <div class="relative">
            <div class="swiper py-4 max-w-md xl:max-w-2xl mt-4">
                <div class="swiper-wrapper py-4 items-center">
                    {% for project in site.data.other %}
                    <div
                        class="swiper-slide flex flex-col xl:justify-between p-8 bg-white-smoke text-black dark:bg-black dark:text-white">
                        <h2
                            class="text-lg relative slide-title dark:slide-title-dark font-semibold tracking-wide leading-7 pl-10">
                            {{project.title}}</h2>
                        <div
                            class="flex flex-col gap-8 items-start justify-around xmd:gap-0 xmd:flex-row xmd:items-center mt-4">
                            <div>
                                {% if project.link == '/ams' or project.link == '/frendao' or project.link == '/concave' or project.link == '/miestro' %}
                                <img class="invert dark:invert-0" src="{{project.img}}" />
                                {% else %}
                                <img src="{{project.img}}" />
                                {% endif %}
                            </div>
                            <div class="flex flex-col max-w-xs">
                                <h3 class="font-semibold">{{project.about}}</h3>
                                <p class="mt-4">{{project.description}}</p>
                            </div>
                        </div>
                        <div class="flex md:justify-end mt-5">
                            <a class="flex font-medium text-base leading-6 gap-2 items-center dark:image-link-dark"
                                href="{{page.baseurl}}{{project.link}}">
                                View project
                                <img src="assets/images/icons/arrow.svg" />
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex justify-between mx-auto items-center h-12 max-w-lg xl:max-w-3xl -mt-52 xl:-mt-60">
                <div class="button-prev"></div>
                <div class="button-next"></div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </section>
    {% endif %}
    {% endfor %}

    {{content}}
    {% include footer.html %}
    <script src="{{page.baseurl}}/assets/js/swiper.js"></script>
</body>

</html>