<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include header.html %}
    {% assign id = page.url | remove: ".html" | remove: "/" %}
    {% for item in site.data.content %}
    {% if item.id == id %}
    
    <section class="page-section bg-white-smoke dark:bg-black dark:text-white px-6 md:px-36 pb-10">
        <div class="flex justify-between gap-2 flex-col-reverse items-center xl:flex-row">
            <div class="flex justify-center flex-col max-w-md items-center xl:items-start">
                <h1 class="text-4.5xl font-medium">{{item.herotitle}}</h1>
                <p class="mt-4 font-medium">{{item.description}}</p>
                <div class="mt-6">
                    <button
                        class="bg-black dark:bg-white flex gap-2 items-center text-white dark:text-black uppercase font-semibold py-4 px-6 justify-center">
                        <a href="{{ item.link }}">Discover the website</a>
                        <img class="dark:brightness-0" src="assets/images/icons/arrow-up-right.svg">
                    </button>
                </div>
            </div>
            <div class="hero-img">
                <img data-src="{{item.heroimg}}" src="{{item.heroimg}}" />
            </div>
        </div>
    </section>
    <section class="page-overview page-section px-6 md:px-36 pt-12">
        <div class="overview bg-white-smoke dark:bg-gray rounded-3xl px-8">
            <div class="flex justify-center w-full pt-8">
                <img src="{{item.icon}}">
            </div>
            <div class="flex items-center justify-between pb-10 flex-col-reverse desktop:flex-row">
                {% for detail in item.overview %}
                <div class="max-w-md">
                    <div>
                        <h3 class="uppercase text-2xl leading-9 tracking-wider font-medium">Overview</h3>
                        <p class="mt-4 text-base leading-6">{{detail.desc}}</p>
                    </div>
                    <div class="mt-6">
                        <h3 class="uppercase text-2xl leading-9 tracking-wider font-medium">Technological stack</h3>
                        <ul class="mt-4">
                            {% for tech in detail.techstack %}
                            <li class="mb-2 text-base leading-6 relative pl-6">{{tech.title}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="img max-w-[30rem]">
                    <img class="w-full h-full object-contain" src="{{detail.img}}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
        <p>{{ item.details }}</p>
    </section>
    <section class="designs page-section mt-10 ">
        <h3 class="text-2xl text-center tracking-wider uppercase font-medium">Design</h3>
       <div class="px-6 md:px-36 mt-6 bg-white-smoke dark:bg-black">
           <img class="object-cover" src="{{item.design}}"/>
       </div>
    </section>

    <section class="other-projects page-section mt-10" id="projects">
        <h3 class="text-2xl text-center tracking-wider uppercase font-medium">See other projects</h3>
        <div class="swiper-container mt-4">
            
        </div>
    </section>
    {% endif %}
    {% endfor %}

    {{content}}
    {% include footer.html %}
</body>

</html>